{
  "meta": {
    "key": "fedclient.key"
  },
  "server": {
    "host": "",
    "port": "8001",
    "ssl": "off"
  },
  "preferences": {
    "logging": {
      "handler": [
        "file",
        "console",
        "web_console"
      ]
    },
    "open_webconsole": "on",
    "clipboard": {
      "encrypt_clipboard": "on",
      "remember_secrets": "off"
    }
  },
  "oidc_clients": {
  },
  "saml_clients": {
  },
  "oauth_clients": {
  }
}
